// @require './config'

$mobileSidebarWidth = $sidebarWidth * 0.82

// narrow desktop / iPad
@media (max-width: $MQNarrow)
  .sidebar
    font-size 15px
    width 18vw
    // width $mobileSidebarWidth

  .page, .password-wrapper-in
    margin-left $mobileSidebarWidth

// wide mobile
 

@media (max-width: $MQMobile)
  .page 
    .content__default 
      .table-of-contents
        display: none
  .sidebar
    top 0
    padding-top $navbarHeight
    transform translateX(-100%)
    transition transform .2s ease
    width 14rem
  .page, .password-wrapper-in
    margin-left 0 !important
  .theme-container
    &.sidebar-open
      .sidebar
        transform translateX(0)
    &.no-navbar
      .sidebar
        padding-top: 0
  .password-shadow
    padding-left 0
::-webkit-scrollbar-thumb 
     box-shadow: inset 0 0 2px #f1f1f1 !important;
     -webkit-box-shadow: inset 0 0 2px #f1f1f1 !important;
 
 
// narrow mobile
@media (max-width: $MQMobileNarrow)
  h1
    font-size 1.9rem
  .content__default

    div[class*="language-"]
      margin-bottom: 2em;
      border-radius: 5px;
    .table-of-contents
        display: none !important;
    