/* // 时间线样式 */

.timeline-wrapper .year {
    margin: 80px 0px 20px !important;
    font-size: 27px !important;
}

.timeline-wrapper .year-wrapper li {
    padding: 10px 20px 10px !important;
    border-bottom: 2px solid #999da06b !important;
    background: #c1c1e626;
    border-radius: 5rem;
    margin: 5px 0px;
    transition: all .5s;
}

.timeline-wrapper .year-wrapper li:hover {
    transform: translate(50px, 0);
    transition: all .5s;
}

.timeline-wrapper .year-wrapper li .date {
    width: 43px !important;
    font-size: 13px !important;
}

.timeline-wrapper .year-wrapper li .date:before {
    top: 22px !important;
    border: 1px solid !important;
}

.timeline-wrapper:after {
    background: rgb(166, 219, 240) !important;
}

.timeline-wrapper .desc:before,
.timeline-wrapper .year:before {
    background: rgb(143, 220, 223) !important;
}


/* //主页，评论偏左 */


/* .page,
.password-wrapper-in {
    margin-left: 8rem !important;
} 

目录样式
element.style {
    display: flex; 
    top: 50px;
    right: 10px;
    border: 1px solid #ccc;
    padding: 20px 10px;
    box-shadow: 0 0 3px #eee;
}
*/

#valine .vwrap .vedit #veditor {
    background: url('/znote/img/other/comment.png');
    background-position: 90% 60%;
    background-size: 16rem 10rem;
    background-repeat: no-repeat
}


/* //标签列表样式 */

.abstract-item {
    background-color: #acdcfd3d !important;
    transition: all .5s;
}

.abstract-item:hover {
    transform: scale(1.02);
    transition: all .5s;
}

.custom-block.tip {
    background-color: #d4d4d452 !important;
}

.custom-block.warning {
    background-color: #ffa16d47 !important;
}

.custom-block.danger {
    background-color: #f9b4b457 !important;
}


/* // details容器样式 */

summary {
    color: #67cc86;
    font-weight: 550;
    font-size: 16px;
    padding: 10px;
    padding-bottom: 11px;
    border-radius: 5px;
    margin-bottom: 0.7em;
    background: #d8f4e3 !important;
}

.custom-block.details {
    display: block;
    position: relative;
    border-radius: 2px;
    margin: 1em 0;
    padding: 1em 1em .2em 1em !important;
    background-color: #dceee3;
}

#valine .vwrap .vheader .vinput {
    font-weight: 550;
}

@media screen and(max-width:768px) {
    div.line-numbers-mode {
        margin: 0;
        border-radius: 5px !important;
    }
}